<div class="d-flex flex-column h-100">

    <!-- FOR DEMO PURPOSE -->
    <br><br>
    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6">
                    <img src="./assets/the-academy-logo.svg" width="200px" height="75px">
                    <p class="text-justify">
                        Somos una empresa que impulsamos el conocimientos y ayudamos a cumplir tus metas académicas y profesionales en diferentes áreas. <b>Nuestros servicios es asesorarmiento, capacitacón, desarrollo de trabajos
                        de investigación, proyectos, tesis, desarrollo de aplicaciones (Web, Móvil y Desktop)</b>.


                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6 style="color:black">Nuestros Servicios</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/front-end-development/">Asesoría Academica</a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/">Proyectos y Tesís</a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/">Desarrollo de Software</a></li>
                        <li><a href="http://scanfcode.com/category/android/">Capácitaciones Virtuales y Presenciales</a></li>
                        <li><a href="http://scanfcode.com/category/templates/">Cursos Online</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6 style="color:black">Contactos</h6>
                    <ul class="footer-links">
                        <li><b>Dirección:</b> Quito - La Maná - Valencia</li>
                        <li><b>Whatsapp:</b> <span>+593 96 701 2173</span></li>
                        <li><b>Email:</b> <span>theacademy.dvr@gmail.com</span></li>
                        <li><b>Facebook:</b> <span>@TheAcademy</span></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                        <a href="https://www.the-academy-dvr.com/">The Academy</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-10">
                    <ul class="social-icons">
                        <li><a class="" href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a class="whatsaap" href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a class="whatsapp" target="_blank" href="https://wa.link/nccae5"><i class="bi bi-whatsapp"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>




</div>
