<div class="container  positionContactos">
    <div class="card-body ">
        <div class="row ">
            <div class="col-sm-7 ">

                <div class=" card-two ">
                    <div class="card-body card-contactos">
                        <div class="mb-3 contacto-detalle  ">
                            <h1 class="card-title "><span class="btn-span-static">&nbsp;&nbsp;Contacta&nbsp;&nbsp;</span> con nosotros</h1>
                            <p class="card-text " style="font-size: 20px; ">Si necesitas más información de nuestros servicios sobres desarrollo de aplicativos, asesoría académica, soporte técnico, comunicate con nosotros. <br>¡Estamos encantados de poder ayudarte!.<br></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 ">
                <div class="card-two ">
                    <div class="card-body " style="text-align: center; ">
                        <img src="./assets/contactos/contact.svg " class="img-fluid " alt=" " width="100% ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container  ">
    <div class="card-body ">
        <div class="row ">
            <div class="col-sm-4 ">
                <div class="card-two ">
                    <a href="https://api.whatsapp.com/send?phone=+593967012173" target="_blank"> <img src="./assets/contactos/whatsapp.png" class="img-fluid " alt=" " width="100% "></a>
                    <a href="https://www.facebook.com/TheAcademyDVR" target="_blank"><img src="./assets/contactos/facebook.png" class="img-fluid " alt=" " width="100% "></a>
                    <a href="https://www.youtube.com/channel/UCk6lXxhgm5C64y9PxczY_2A" target="_blank"><img src="./assets/contactos/youtube.png" class="img-fluid " alt=" " width="100% "></a>
                    <a href="https://www.instagram.com/theacademydvr/" target="_blank"><img src="./assets/contactos/instagram.png" class="img-fluid " alt=" " width="100% "></a>
                    <a href="https://twitter.com/TheAcademyDVR" target="_blank"><img src="./assets/contactos/twitter.png" class="img-fluid " alt=" " width="100% "></a>
                </div>
            </div>

            <div class="col-sm-8 ">
                <div class=" ">
                    <div class="card-body ">
                        <div class="mb-3 ">
                            <h1 class="card-title ">Enviame un <span class="btn-span-static">&nbsp;&nbsp;Mensaje&nbsp;&nbsp;</span></h1>
                            <p class="card-text " style="font-size: 20px; ">Este es tu momento de iniciar tu preparación al 100% junto a The Academy.<br></p>
                        </div>
                        <form class="row  needs-validation" novalidate>
                            <div class="mb-3 ">
                                <input type="text" name="" class="form-control btn-radius" id="validationCustom01" placeholder="Nombre Completos..">
                            </div>
                            <div class="mb-3 ">
                                <input type="text" class="form-control btn-radius" id="validationCustom01" placeholder="Escribe tu numero de WhatsApp...">
                            </div>
                            <div class="mb-3 ">
                                <input type="email " class="form-control btn-radius" id="exampleFormControlInput1 " formControlName="email" placeholder="Escribe tu correo electrónico">
                            </div>
                            <div class="mb-3 ">
                                <input type="text" class="form-control btn-radius" id="validationCustom01" placeholder="Asunto" formControlName="asunto" required>
                            </div>
                            <div class="mb-3 ">
                                <select class="form-select btn-radius" aria-label="Selecciona tu servicios que necesitas">

                              <option value="1 ">Desarrollo de Sistemas</option>
                              <option value="2 ">Desarrollo de Tesis</option>
                              <option value="3 ">Asesoría Académicas</option>
                              <option value="3 ">Capacitaciones</option>
                              <option value="3 ">Más información</option>
                            </select>
                            </div>
                            <div class="mb-3 ">
                                <textarea class="form-control  btn-radius-message" id="exampleFormControlTextarea1 " formControlName="mensaje" rows="5 " placeholder="Dejanos una descripción del servicio que necesitas..." required></textarea>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary btn-radius" style="font-size: 18px">Enviar Mensaje</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
