<div class="container positionContactos card-home">
    <div class="row ">
        <div class="col-sm-4 ">
            <div class="card-two">
                <div class="card-body ">
                    <div class="card h-100 card-border-radius ">
                        <img src="./assets/desarrollo/1.png" class=" card-border-radius-img " alt="... ">
                        <h4 class="title-card">{{titleCard1}}</h4>

                        <div class="card-body ">
                            <p class="card-text  text-card">{{titleCardDetail1}}</p>
                            <div class="d-grid gap-2 col-10 mx-auto">
                                <a href="https://wa.link/nccae5" target="_blank" class="btn btn-success card-text-btn " type="button">
                                    <b><i class="bi bi-cart-check"></i> Adquirir el producto</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card-two">
                <div class="card-body ">
                    <div class="card h-100 card-border-radius ">
                        <img src="./assets/desarrollo/2.png" class=" card-border-radius-img " alt="... ">
                        <h4 class="title-card">{{titleCard2}}</h4>

                        <div class="card-body ">
                            <p class="card-text  text-card">{{titleCardDetail2}}</p>
                            <div class="d-grid gap-2 col-10 mx-auto">
                                <a href="https://wa.link/nccae5" target="_blank" class="btn btn-info card-text-btn " type="button">
                                    <b><i class="bi bi-cart-check"></i> Adquirir el producto</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card-two">
                <div class="card-body ">
                    <div class="card h-100 card-border-radius ">
                        <img src="./assets/desarrollo/3.png" class=" card-border-radius-img " alt="... ">
                        <h4 class="title-card">{{titleCard3}}</h4>

                        <div class="card-body ">
                            <p class="card-text  text-card">{{titleCardDetail3}}</p>
                            <div class="d-grid gap-2 col-10 mx-auto">
                                <a href="https://wa.link/nccae5" target="_blank" class="btn btn-primary card-text-btn " type="button">
                                    <b><i class="bi bi-cart-check"></i> Adquirir el producto</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card-two">
                <div class="card-body ">
                    <div class="card h-100 card-border-radius ">
                        <img src="./assets/desarrollo/4.png" class=" card-border-radius-img " alt="... ">
                        <h4 class="title-card">{{titleCard4}}</h4>

                        <div class="card-body ">
                            <p class="card-text  text-card">{{titleCardDetail4}}</p>
                            <div class="d-grid gap-2 col-10 mx-auto">
                                <a href="https://wa.link/nccae5" target="_blank" class="btn btn-danger card-text-btn " type="button">
                                    <b><i class="bi bi-cart-check"></i> Adquirir el producto</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card-two">
                <div class="card-body ">
                    <div class="card h-100 card-border-radius ">
                        <img src="./assets/desarrollo/5.png" class=" card-border-radius-img " alt="... ">
                        <h4 class="title-card">{{titleCard5}}</h4>

                        <div class="card-body ">
                            <p class="card-text  text-card">{{titleCardDetail5}}</p>
                            <div class="d-grid gap-2 col-10 mx-auto">
                                <a href="https://wa.link/nccae5" target="_blank" class="btn btn-warning card-text-btn " type="button">
                                    <b><i class="bi bi-cart-check"></i> Adquirir el producto</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
