<!-- <div class="container">
    <div class=" card-two positionContactos">
        <div class="card-body card-contactos">
            <div class="mb-3 contacto-detalle">
                <img src="./assets/the-academy-logo.svg" class="img-fluid p-5" width="40%"><br><br>
                <h1 class="card-title"><span class="btn-span-static">&nbsp;&nbsp;Quiénes Somos&nbsp;&nbsp;</span></h1>
                <p class="card-text p-5" style="font-size: 25px; ">
                    Somos una empresa dedicada al desarrollo de sistemas en aplicaciones web, moviles y desktop, soporte técnico, elaboración de proyectos de grado y pregrado (Tecnología de la información, CPA y Administración de Empresa), asesoria académica, capacitaciones,
                    impartición de cursos a nivel nacional e internacional con las mejores viabilidad para cumplir las metas establecidad por nuestros clientes.
                    <br>¡Estamos encantados de poder ayudarte!.</p>
            </div>
        </div>
    </div>
</div> -->

<div class="card-body positionContactos">
    <div class="row ">
        <div class="col-sm-7 ">
            <div class=" card-two ">
                <div class="card-body  p-5">
                    <h1 class="card-title " style="text-align: left;"><span class="btn-span-static">&nbsp;&nbsp;Quiénes Somos&nbsp;&nbsp;</span></h1><br>
                    <p class="card-text" style="font-size: 25px; text-align: left;">
                        Somos una empresa dedicada al desarrollo de sistemas en aplicaciones web, moviles y desktop, soporte técnico, elaboración de proyectos de grado y pregrado (Tecnología de la información, CPA y Administración de Empresa), asesoria académica, capacitaciones,
                        impartición de cursos a nivel nacional e internacional con las mejores viabilidad para cumplir las metas establecidad por nuestros clientes.
                        <br><b>¡Estamos encantados de poder ayudarte!.</b></p>
                </div>

            </div>
        </div>
        <div class="col-sm-5 ">
            <div class="card-two ">
                <div class="card-body " style="text-align: center; ">
                    <img src="./assets/nosotros/nosotros.svg " class="img-fluid " alt=" " width="100% ">
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" tareas-static">
    <div class="card-body ">
        <div class="row ">
            <div class="col-sm-6 ">
                <div class=" text-center ">
                    <div class="p-4 backgroud-home " style="color: white; ">

                        <h1 class="card-title ">MISIÓN</h1>
                        <p class="card-text p-3" style="font-size: 20px; ">
                            Brindar un servicio de alto nivel a nuestros clientes, permitiendo alcanzar sus objetivos planteados dentro del ámbito profesional, académico y personal; guiar a las empresas o micro-empresas a transformas sus negocios al mundo digital.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class=" text-center ">
                    <div class="p-4 backgroud-home " style="color: white; ">

                        <h1 class="card-title ">VISIÓN</h1>
                        <p class="card-text p-3" style="font-size: 20px; ">
                            Convertirnos en la primera empresa a nivel nacional en el asesoramiento académico a los estudiantes de universidades, colegios y escuelas; soporte técnico y capacitanciones en diversos temas; en el desarrollo de aplicaciones tecnologicas.
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
