<div id="carouselExampleControls" class="carousel slide slide-home" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/home/presentacion-2.png" class="img-fluid d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/home/ponte-la-capa.png" class="img-fluid d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/home/asesoria-academica.png" class="img-fluid d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/home/aplicaciones-hibridas.png" class="img-fluid d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/home/mantenimiento.png" class="img-fluid d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/home/software.png" class="img-fluid d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/home/marketing.png" class="img-fluid d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/home/presentacion-1.png" class="img-fluid d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="text-center title-position">
    <h1 class="card-title">{{titleNeed}}</h1>
    <p class="card-text">{{titleDetailNeed}}<br>{{titleDetailPrice}}</p>
</div>

<div class="container card-home">
    <div class="row ">
        <div class="col-sm-4 ">
            <div class="card-two">
                <div class="card-body ">
                    <div class="card h-100 card-border-radius ">
                        <h4 class="card-title title-card">{{titleCard1}}</h4>
                        <img src="./assets/home/academica.svg " class="card-img-top  " alt="... ">
                        <div class="card-body ">
                            <p class="card-text  text-card">{{titleCardDetail1}}</p>
                            <div class="d-grid gap-2 col-10 mx-auto">
                                <button class="btn btn-warning card-text-btn " type="button">{{masInfo}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card-two  ">
                <div class="card-body ">
                    <div class="card h-100 card-border-radius ">
                        <h4 class="card-title title-card">{{titleCard2}}</h4>
                        <img src="./assets/home/sistemas.svg " class="card-img-top img-card " alt="... ">
                        <div class="card-body ">
                            <p class="card-text  text-card">{{titleCardDetail2}}</p>
                            <div class="d-grid gap-2 col-10 mx-auto ">
                                <button class="btn btn-primary card-text-btn " type="button">{{masInfo}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card-two  ">
                <div class="card-body ">
                    <div class="card h-100 card-border-radius ">
                        <h4 class="card-title title-card">{{titleCard3}}</h4>
                        <img src="./assets/home/proyectos.svg " class="card-img-top img-card2" alt="... ">
                        <div class="card-body ">
                            <p class="card-text  text-card">{{titleCardDetail3}}</p>
                            <div class="d-grid gap-2 col-10 mx-auto">
                                <button class="btn btn-success card-text-btn " type="button">{{masInfo}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="container">

    <img src=" ./assets/home/descuento.png" class="tareas-static " width="100% ">

</div>

<div class="container">
    <div class="  row ">
        <div class="col-sm-6 ">
            <div class="card-two card-two-home ">
                <div class="card-body ">
                    <img src="./assets/home/lista-costos.svg " class="img-fluid " alt=" ">
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card-border-radius card-two ">
                <div class="card-body title-position-top ">
                    <h2 class="card-title card-title-two ">{{titleCardCosto}}</h2>
                    <p class="card-text card-title-two " style="text-align: justify; font-size: 18px ">{{titleCardDetailCosto}}</p>
                </div>
                <div class=" card-body ">
                    <table class="table ">
                        <tbody>
                            <tr>
                                <th scope="row "> <img src="./assets/home/desarrollo.svg " alt=" " width="50 " height="50 "></th>
                                <td>
                                    <h5 class=" ">{{titleActivity1}}</h5>
                                </td>
                                <td>
                                    <h5 class=" " style="color: black; text-align: right; "><b>{{price1}}</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row "> <img src="./assets/home/documentos.svg " alt=" " width="50 " height="50 "></th>
                                <td>
                                    <h5 class=" ">{{titleActivity2}}</h5>
                                </td>
                                <td>
                                    <h5 class=" " style="color: black; text-align: right; "><b>{{price2}}</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row "> <img src="./assets/home/asistente.svg " alt=" " width="50 " height="50 "></th>
                                <td>
                                    <h5 class=" ">{{titleActivity3}}</h5>
                                </td>
                                <td>
                                    <h5 class=" " style="color: black; text-align: right; "><b>{{price3}}</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row "> <img src="./assets/home/descarga.svg " alt=" " width="50 " height="50 "></th>
                                <td>
                                    <h5 class=" ">{{titleActivity4}}</h5>
                                </td>
                                <td>
                                    <h5 class=" " style="color: black; text-align: right; "><b>{{price4}}</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row "> <img src="./assets/home/web.svg " alt=" " width="50 " height="50 "></th>
                                <td>
                                    <h5 class=" ">{{titleActivity5}}</h5>
                                </td>
                                <td>
                                    <h5 class=" " style="color: black; text-align: right; "><b>{{price5}}</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row "> <img src="./assets/home/telefono.svg " alt=" " width="50 " height="50 "></th>
                                <td>
                                    <h5 class=" ">{{titleActivity6}}</h5>
                                </td>
                                <td>
                                    <h5 class=" " style="color: black; text-align: right; "><b>{{price6}}</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row "> <img src="./assets/home/email.svg " alt=" " width="50 " height="50 "></th>
                                <td>
                                    <h5 class=" ">{{titleActivity7}}</h5>
                                </td>
                                <td>
                                    <h5 class=" " style="color: black; text-align: right; "><b>{{price7}}</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row "> <img src="./assets/home/chat.svg " alt=" " width="50 " height="50 "></th>
                                <td>
                                    <h5 class=" ">{{titleActivity8}}</h5>
                                </td>
                                <td>
                                    <h5 class=" " style="color: black; text-align: right; "><b>{{price8}}</b></h5>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="d-grid gap-2 col-10 mx-auto ">
                    <a target="_blank " href="https://wa.link/nccae5 " class="btn card-text-ir btn-lg " tabindex="-1 " role="button " aria-disabled="true ">{{masInfo}}<i class="bi bi-arrow-right "></i></a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class=" text-center ">
        <div class=" backgroud-home tareas-static" style="color: white; ">
            <br>
            <h1 class="card-title ">¿Necesitas ayuda?</h1>
            <p class="card-text " style="font-size: 20px; ">Contacta con nosotros, estamos disponibles 24/7 para echarte una mano en todo lo que necesites.</p>


            <div class=" " role="toolbar " aria-label="Toolbar with button groups ">

                <div class="btn-group me-4 " role="group " aria-label="First group ">
                    <a href="https://wa.link/nccae5" target="_blank" class="btn btn-outline-light rounded-pill btn-lg "><i class="bi bi-whatsapp "></i> Llamanos > </a>
                </div>

                <div class="btn-group me-4 " role="group " aria-label="First group ">
                    <a href="MAILTO:theacademy.dvr@gmail.com " type="email " target="_blank " class="btn btn-outline-light rounded-pill btn-lg "><i class="bi bi-envelope "></i> Envia un email > </a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<div class="container">
    <div class="card-body">
        <div class="row ">
            <div class="col-sm-4 ">
                <div class="card-two ">
                    <div class="card-body " style="text-align: center; ">
                        <img src="./assets/home/contactos.gif " class="img-fluid " alt=" " width="100% ">

                    </div>
                </div>
            </div>

            <div class="col-sm-8 ">
                <div class=" card-two ">
                    <div class="card-body card-contactos">
                        <div class="mb-3 contacto-detalle ">
                            <h1 class="card-title ">Enviame un <span class="btn-span-static">&nbsp;&nbsp;Mensaje&nbsp;&nbsp;</span></h1>
                            <p class="card-text " style="font-size: 20px; ">Este es tu momento de iniciar tu preparación al 100% junto a The Academy.<br></p>
                        </div>


                        <form [formGroup]="datos" class="row  needs-validation" novalidate>
                            <div class="mb-3 ">
                                <input type="text" name="" class="form-control btn-radius" id="validationCustom01" placeholder="Nombre Completos..">
                            </div>
                            <div class="mb-3 ">
                                <input type="text" class="form-control btn-radius" id="validationCustom01" placeholder="Escribe tu numero de WhatsApp...">
                            </div>
                            <div class="mb-3 ">
                                <input type="email " class="form-control btn-radius" id="exampleFormControlInput1 " formControlName="email" placeholder="Escribe tu correo electrónico">
                            </div>
                            <div class="mb-3 ">
                                <input type="text" class="form-control btn-radius" id="validationCustom01" placeholder="Asunto" formControlName="asunto" required>
                            </div>
                            <div class="mb-3 ">
                                <select class="form-select btn-radius" aria-label="Selecciona tu servicios que necesitas">

                                <option value="1 ">Desarrollo de Sistemas</option>
                                <option value="2 ">Desarrollo de Tesis</option>
                                <option value="3 ">Asesoría Académicas</option>
                                <option value="3 ">Capacitaciones</option>
                                <option value="3 ">Más información</option>
                              </select>
                            </div>
                            <div class="mb-3 ">
                                <textarea class="form-control  btn-radius-message" id="exampleFormControlTextarea1 " formControlName="mensaje" rows="5 " placeholder="Dejanos una descripción del servicio que necesitas..." required></textarea>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary btn-radius" style="font-size: 18px">Envuar Mensaje </button>
                                <!-- <button class="btn btn-primary btn-radius" style="font-size: 18px" (click)="sendEmail()">Submit form</button> -->
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--
<div class="container card-home ">
  <div class="container-fluid ">
      <div class="row row-cols-1 row-cols-md-5 g-5 ">
          <div class="col " style=" width: 25rem ">
              <div class="card h-100 card-border-radius ">
                  <h4 class="card-title title-card ">{{titleCard1}}</h4>
                  <img src="./assets/home/academica.svg " class="card-img-top img-card " alt="... ">
                  <div class="card-body ">
                      <p class="card-text text-card ">{{titleCardDetail1}}</p>
                      <div class="d-grid gap-2 col-10 mx-auto ">
                          <button class="btn btn-warning card-text-btn " type="button ">{{masInfo}}</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col " style=" width: 25rem ">
              <div class="card h-100 card-border-radius ">
                  <h4 class="card-title title-card ">{{titleCard2}}</h4>
                  <img src="./assets/home/sistemas.svg " class="card-img-top img-card " alt="... ">
                  <div class="card-body ">
                      <p class="card-text text-card ">{{titleCardDetail2}}</p>
                      <div class="d-grid gap-2 col-10 mx-auto ">
                          <button class="btn btn-primary card-text-btn " type="button ">{{masInfo}}</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col " style=" width: 25rem ">
              <div class="card h-100 card-border-radius ">
                  <h4 class="card-title title-card ">{{titleCard3}}</h4>
                  <img src="./assets/home/proyectos.svg " class="card-img-top img-card " alt="... ">
                  <div class="card-body ">
                      <p class="card-text text-card ">{{titleCardDetail3}}</p>
                      <div class="d-grid gap-2 col-10 mx-auto ">
                          <button class="btn btn-success card-text-btn " type="button ">{{masInfo}}</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
